.head {
    /*Positions the head relative to the body*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: #F2CF66;
    border-radius: 50%;
  
    /*Sets the size of the container*/
    width: 250px;
    height: 260px;
  }
  
  /* write your own CSS rules for the other parts, below! */
.eye {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: white;
    border-radius: 50%;
  
    /*Sets the size of the container*/
    width: 50px;
    height: 50px;
}

#rightEye {
  position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: white;
    border-radius: 50%;
  
    /*Sets the size of the container*/
    width: 50px;
    height: 50px;
}

.pupil {
  position: absolute;
    left: 30%;
    top: 60%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: black;
    border-radius: 50%;
  
    /*Sets the size of the container*/
    width: 20px;
    height: 20px;
}

.mouth {
  position: absolute;
    left: 32%;
    top: 78%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
  
    /*Sets the size of the container*/
    width: 60px;
    height: 70px;
}

.teeth {
  position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: white;
  
    /*Sets the size of the container*/
    width: 100px;
    height: 30px;
}

.tongue {
  position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: pink;
    border-radius: 50%;
  
    /*Sets the size of the container*/
    width: 60px;
    height: 30px;
}

.dot {
  position: absolute;
    left: 64%;
    top: 42%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: red;
  
    /*Sets the size of the container*/
    width: 28px;
    height: 28px;
}

.line {
  position: absolute;
    left: 64%;
    top: 30%;
    transform: translate(-50%, -50%);
    
    /*Sets the color of the container and rounds the corners*/
    background-color: red;
  
    /*Sets the size of the container*/
    width: 30px;
    height: 100px;
}

#secondLine {
  left: 74%;
    top: 34%;
}

#secondDot {
  left: 74%;
    top: 46%;
}